<a href="https://colab.research.google.com/github/GlennBSIT3205/IT-BA-3205_Coalesce/blob/main/Education%20in%20the%20Philippines%20Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [26]:
url = 'https://raw.githubusercontent.com/GlennBSIT3205/IT-BA-3205_Coalesce/main/Data%20Sets/Enrollment%26Graduates%20by%20Discipline.csv'
dataset = pd.read_csv(url)
dataset.head(10)

,Unnamed: 0,Enrollment,Unnamed: 2,Unnamed: 3,Graduates,Unnamed: 5,Unnamed: 6
0,Discipline Group,2016-17,2017-18,2018-19,2016-17,2017-18,2018-19
1,"Agriculture, Forestry, Fisheries","127,287","100,922","106,006","24,210","26,773","26,259"
2,Architecture and Town Planning,"40,238","33,439","40,163","4,828","5,900","5,697"
3,Business Administration and Related,"921,324","775,805","826,494","202,895","207,178","233,194"
4,Education Science and Teacher Training,"740,713","639,063","653,207","138,496","162,900","169,832"
5,Engineering and Tech,"448,550","370,710","424,269","82,794","86,860","87,083"
6,Fine and Applied Arts,"16,324","16,355","23,782","4,100","4,465","3,572"
7,General,"7,614","4,869","4,847","1,468",581,575
8,Home Economics,"5,960","4,876","4,324","1,236",970,"1,256"
9,Humanities,"40,753","36,332","37,246","6,877","7,947","9,397"